@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/****************************************** Header **********************************************/

header {
  width: 100%;
  height: 4rem;
  /* background-color: hsl(0, 0%, 93%); */
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 10);
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

p::selection {
  background-color: white;
  color: black;
}
.logo-div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 4rem;
}

.logo-div > a > h1 {
  color: black;
  text-transform: uppercase;
  font-size: 25px;
}

.logo-div > a > img {
  border-radius: 50%;
  box-shadow: 0 0 5px 1 px black;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

li {
  margin: 0 auto;
}

ul > li > a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 7px 20px;
  transition: transform .3s;
}

li > a:hover {
  color: black;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.button-container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 45px;
}

.button-container .signup-button , .login-button {
  background-color: black;
  border: 1px solid white;
  border-radius: 7px;
  padding: 7px 15px;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: bolder;
}

.signup-button:hover , .login-button:hover {
  color: black;
  background-color: #FFFFFF;
  border: 1px solid black;
}


/***************************** IPL SECTION *********************************************/

.ipl {
  width: 100%;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("Images/pixelcut-export.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: grid;
  grid-template-columns: 23rem 13rem 13rem 13rem;
  grid-template-rows: 18rem;
  column-gap: 70px;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid hsl(0, 0%, 97%);
}

/*???????????????? Intro Para ?????????????????????*/

.ipl-intro {
  color: #ccc;
  /* grid-column-start: 1;
  grid-column-end: 3; */
}

.ipl-intro img {
  filter: drop-shadow(2px 3px 1.5px white);
  position: relative;
  z-index: 1;
}

.ipl-intro h2 {
  margin-top: 10px;
  word-spacing: 4px;
  text-transform: uppercase;
}

.ipl-intro h2::selection {
  background-color: white;
  color: black;
}

.ipl-intro p {
  font-weight: 400;
}

/*???????????? scorcard ???????????????*/

.scorecard-container {
  width: auto;
  max-width: 250px;
  background-color: hsl(0, 0%, 97%);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1);
  text-align: center;
  transition: transform .2s;
}

.scorecard-container h2 {
  font-size: 24px;
  margin: 2rem 0 1rem 0;
  color: #333;
}

.scorecard-image {
  max-width: 100%;
  width: 12.5rem;
  height: 10rem;
  border-radius: 8px;
}

.scorecard-container:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2); 
}

/*????????????? Points table ??????????????????*/

.points-table-container {
  width: auto;
  max-width: 250px;
  background-color: hsl(0, 0%, 97%);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1);
  text-align: center;
  transition: transform .2s;
}

.points-table-container h2,h3,h4 {
  font-size: 24px;
  margin: 2rem 0 1rem 0;
  color: #333;
}

.points-table-image {
  max-width: 100%;
  width: 12.5rem;
  height: 10rem;
  border-radius: 8px;
}

.points-table-container:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5);
  transform: scale(1.2); 
}

/*????????????????? Highlights ??????????????????*/

.highlights-container {
  width: auto;
  max-width: 250px;
  background-color: hsl(0, 0%, 97%);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1);
  text-align: center;
  transition: transform .2s;
}

.highlights-container h2,h3,h4 {
  font-size: 24px;
  margin: 2rem 0 1rem 0;
  color: #333;
}

.highlights-image {
  max-width: 100%;
  width: 12.5rem;
  height: 10rem;
  border-radius: 8px;
}

.highlights-container:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.2); 
}

/************************************* Updates ************************************************************/

.updates {
  /* background-image: url(https://www.iplt20.com/assets/images/bottom-section-bg.svg); */
  height: 100vh;
}

.live-score-section {
  width: 100%;
  height: 200px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* gap: 30px; */
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.scorebox {
  width: 275px;
  height: 130px;
  color: #333;
  margin-left: 50px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  display: grid;
  justify-content: space-around;
  align-content: center;
  grid-template-rows: 30px 30px 30px;
  grid-template-columns: 100px 100px;
  column-gap: 25px;
  row-gap: 10px;
  transition: transform .2s;
}

.scorebox:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.1); 
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

#name {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

#score {
  display: flex;
  justify-content: end;
  align-items: center;
}

#won-statement {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.overs {
  font-size: 10px;
  margin-left: 5px;
}

/* .gallery-section {
  height: 350px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.gallery-container {
  position: relative;
  width: 450px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 300px;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.gallery-item {
  min-width: 100%;
  text-align: center;
  position: relative;
}

.gallery-item img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
}

.image-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}

.image-caption p {
  font-size: 0.8em;
  margin-top: 5px;
} */

.imagegalllery-liveupdate {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Live Update Section */
.live-update {
  width: 90%;
  height: 500px;
  margin: 40px 0 40px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: auto;
}

.update-heading p {
  color: red;
  margin-bottom: 15px;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 13px;
}

.cards div {
  /* background-color: #f8f9fa; */
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform .2s;
}

.cards div:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.01); 
}

.cards div p {
  margin: 0;
}

/***************************** T20WC SECTION *********************************************/

.t20wc {
  width: 100%;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url("https://img1.hscicdn.com/image/upload/f_auto,t_ds_w_960,q_50/lsci/db/PICTURES/CMS/384000/384076.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 11rem 11.6rem 13rem 13rem 13rem;
  grid-template-rows: 18rem;
  column-gap: 70px;
  justify-content: center;
  align-content: center;
  border-bottom: 2px solid hsl(0, 0%, 97%);
}

.t20-intro {
  color: #ccc;
  grid-column-start: 1;
  grid-column-end: 3;
}

.t20-intro img {
  box-shadow: 0 0 5px 1px white;
  border-radius: 10px;
}

.t20-intro h3 {
  color: #ccc;
  margin-top: 10px;
  word-spacing: 5px;
  text-transform: uppercase;
}

.t20-intro h3::selection {
  background-color: white;
  color: black;
}

.t20-intro p {
  font-weight: 400;
  text-align: left;
}


/************************************ ODI SECTION ************************************/

.odiwc {
  width: 100%;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url("https://img1.hscicdn.com/image/upload/f_auto,t_ds_w_960,q_50/lsci/db/PICTURES/CMS/371500/371561.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: grid;
  grid-template-columns: 11rem 11.6rem 13rem 13rem 13rem;
  grid-template-rows: 18rem;
  column-gap: 70px;
  justify-content: center;
  align-content: center;
}

.odi-intro {
  color: #ccc;
  grid-column-start: 1;
  grid-column-end: 3;
}

.odi-intro img {
  box-shadow: 0 0 5px 1px white;
  border-radius: 8px;
}

.odi-intro h4 {
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  word-spacing: 5px;
  text-transform: uppercase;
}

.odi-intro h4::selection {
  background-color: white;
  color: black;
}

.odi-intro p {
  font-weight: 400;
  text-align: left;
  overflow: auto;
}

/***************************************** Footer *********************************/

footer {
  width: 100%;
  height: 550px;
  border-top: 2px solid black;
  background-color: hsl(0, 0%, 90%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-container {
  width: 500px;
  height: 450px;
  max-width: 600px;
  background-color: white;
  margin: 50px;
  border: 1px solid grey;
  border-radius: 5px;
  /* box-shadow: 0 0 1px 1px black; */
}

.form-container h5 {
  margin: 20px 0 20px 0;
  font-size: 24px;
  color: black;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 30px 0 30px;
}

.form-group {
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #006EDF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #e64a19;
}

.footer-container-main {
  width: 65%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
}

.footer-container {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.footer-container-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-container h5 {
  font-size: 24px;
  color: black;
  text-align: center;
}

.footer-container p {
  text-align: center;
}

.footer-container a {
  color: black;
  font-weight: bold;
}

/**************************** Sroll Bar Modification ******************************/

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;               /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;       /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888;    /* Color of the scrollbar thumb */
  border-radius: 10px;       /* Rounded edges on the thumb */
  border: 2px solid #f1f1f1; /* Space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;    /* Color of the thumb on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;        /* Make scrollbar thinner */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

